<!DOCTYPE html >
<html lang="en"
      ng-app="domainSearch">
<head>
    <title>Expiring domains // GoDaddy // Dynadot // NameJet // Name.com</title>
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lumen.min.css" rel="stylesheet">
    <link href="/libs/bootstrap-additions/dist/bootstrap-additions.min.css" rel="stylesheet" >
    <link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/main.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="/">Expiring domains
            </a>
            <p class="navbar-text" >// GoDaddy // Dynadot // NameJet // Name.com // </p>
        </div>
    </div>
</nav>

<div class="container-fluid main-content" ng-cloak>

    <div class="row">
        <div class="col-md-12" ng-controller="DomainListController">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline well well-sm">
                        <span class="fa fa-search" style="margin: 0.5% !important;"></span>

                        <div class="form-group">
                            <input type="text"
                                   class="form-control"
                                   id="domain"
                                   ng-model="domains.search"
                                   ng-model-options="{debounce: 750}"
                                   placeholder="Search by domain name..."
                                   style="width: 65vw;"
                            />
                        </div>
                        
                        <button class="btn btn-primary btn-sm pull-right"
                                ng-click="showAll()">
                            Show all
                        </button>
                        
                    </form>

                    <table infinite-scroll="loadMore()"
                           infinite-scroll-distance="1"
                           class="table table-hover">

                        <tr>
                            <th class="col-1" title="Domain Name">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'domain'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-domain'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Domain
                            </th>
                            <th class="col-2" title="Majestic External Backlinks, Click on the Number for Related Links">
                                <div class="sortables" >
                                    <span ng-click="domains.ordering = 'bl'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-bl'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                BL
                            </th>
                            <th class="col-3" title="SEOkicks Domain Pop - Number of Backlinks from different Domains">
                                <div class="sortables" >
                                    <span ng-click="domains.ordering = 'dp'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-dp'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                DP
                            </th>
                            <th class="col-4" title="The Birth Year of the Domain using the first found Date from archive.org">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'aby'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-aby'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                ABY
                            </th>
                            <th class="col-5" title="Archive.org Number of Crawl Results">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'acr'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-acr'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                ACR
                            </th>
                            <th class="col-6" title="SimilarWeb Global Rank">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'similarWeb'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-similarWeb'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                SimilarWeb
                            </th>
                            <th class="col-8" title="Status of the Domain in Dmoz.org">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'dmoz'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-dmoz'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Dmoz
                            </th>
                            <th class="col-9" title="DNS Status .com of Domain Name">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'c'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-c'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                C
                            </th>
                            <th class="col-10" title="DNS Status .net of Domain Name">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'n'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-n'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                N
                            </th>
                            <th class="col-11" title="DNS Status .org of Domain Name">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'o'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-o'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                O
                            </th>
                            <th class="col-15" title="Traffic supplied by the Provider (GoDaddy, Dynadot, Sedo...)">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'traffic'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-traffic'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Traffic
                            </th>
                            <th class="col-16" title="The GoDaddy Valuation Tool takes the Afternic sales database into account and predicts the retail value based on a proprietary algorithm.">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'valuation'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-valuation'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Valuation
                            </th>
                            <th class="col-17" title="Price information">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'price'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-price'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Price
                            </th>
                            <th class="col-18" title="Number of Bids">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'bids'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-bids'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                Bids
                            </th>
                            <th class="col-19" title="Auction End Time / Date">
                                <div class="sortables">
                                    <span ng-click="domains.ordering = 'endDate'"
                                          class="fa fa-sort-asc"></span>
                                    <span ng-click="domains.ordering = '-endDate'"
                                          class="fa fa-sort-desc"></span>
                                </div>
                                End Date
                            </th>
                        </tr>
                        
                        <tr ng-repeat="domain in domains.domains.results">
                            <td style="font-size: 1.1em; font-weight: bold;" ng-switch on="domain.seller" title="{{ domain.seller }}">
                                <a ng-switch-when="GoDaddy" 
                                href="https://auctions.godaddy.com/en/trpItemListing.aspx?domain={{ domain.domain }}" target="_blank">
                                    {{ domain.domain }}
                                </a>
                                <a ng-switch-when="Name.com" 
                                href="https://www.name.com/domain/search/{{ domain.domain }}" target="_blank">
                                    {{ domain.domain }}
                                </a>
                                <a ng-switch-when="Dynadot" 
                                href="https://www.dynadot.com/market/auction/{{ domain.domain }}" target="_blank">
                                    {{ domain.domain }}
                                </a>
                                <a ng-switch-when="NameJet" 
                                href="http://www.namejet.com/Pages/Auctions/BackorderDetails.aspx?domainname={{ domain.domain }}" target="_blank">
                                    {{ domain.domain }}
                                </a>
                            </td>
                            <td class="text-center">{{ domain.bl | number }}</td>
                            <td class="text-center">{{ domain.dp | number }}</td>
                            <td class="text-center">{{ domain.aby }}</td>
                            <td class="text-center">{{ domain.acr | number }}</td>
                            <td class="text-center">{{ domain.similarWeb | number }}</td>
                            <td class="text-center">{{ domain.dmoz }}</td>
                            <td class="text-center green" ng-class="{'red':domain.c == 'registered'}" title="{{ domain.c }}"><i class="fa fa-compass" aria-hidden="true"></i></td>
                            <td class="text-center green" ng-class="{'red':domain.n == 'registered'}" title="{{ domain.n }}"><i class="fa fa-compass" aria-hidden="true"></i></td>
                            <td class="text-center green" ng-class="{'red':domain.o == 'registered'}" title="{{ domain.o }}"><i class="fa fa-compass" aria-hidden="true"></i></td>
                            <td class="text-center">{{ (domain.traffic | number) || '-' }}</td>
                            <td class="text-center">{{ (domain.valuation | currency) || '-'  }}</td>
                            <td class="text-center">{{ (domain.price | currency) || '-'  }}</td>
                            <td class="text-center">{{ (domain.bids | number) || '-' }}</td>
                            <td class="text-center">{{ domain.endDate | date }}</td>
                        </tr>
                    </table>
                
                    <div ng-show="domains.domains.results.length == 0 && !domains.isLoading">
                        <td colspan="4">
                            <div class="alert alert-info">
                                <p class="text-center">No results found for search term '{{ domains.search }}'</p>
                            </div>
                        </td>
                    </div>
                    <div class="spinner"
                         ng-show="domains.isLoading">
                        <span us-spinner="{radius:10, width:2, length: 8}"></span>

                        <p>Loading...</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/libs/angular/angular.min.js"></script>
<script src="/libs/angular-resource/angular-resource.min.js"></script>
<script src="/libs/ngInfiniteScroll//build/ng-infinite-scroll.min.js"></script>
<script src="/libs/spin.js/spin.js"></script>
<script src="/libs/angular-spinner/angular-spinner.min.js"></script>
<script src="/libs/angular-strap/dist/angular-strap.min.js"></script>
<script src="/libs/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/timeago-simple@1.2.3/dist/timeago.min.js" async></script>

<script src="main.js"></script>
</body>
</html>









