body {
    padding-top: 50px;
}

.main-content {
    padding: 40px 15px;
}

.spinner {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 40px 0;
}

.spinner p {
    margin-top: 25px;
}

.center {
    margin-bottom: 20px;
}

.img-circle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 128px;
    max-width: 128px;
}

.table .col-1 {
    max-width: 10%;
}

.table tr td {
    vertical-align: middle;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.sortables {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.sortables span:first-child {
    position: absolute;
    top: 0;
}

.sortables span:last-child {
    position: absolute;
    bottom: 0;
}

.sortables span {
    color: lightgray;
    font-size: 18px;
}

.sortables span:hover {
    color: #002a80;
}

.red {
    color: #cc0000 !important;
}

.green {
    color: green;
}

a, a:hover, a:active {
    color: #666;
    text-decoration: none;
}

.form-control {
    height: 33px;
    padding: 15px 15px;
}

.navbar-default {
    /*background-color: #2c3e50;*/
    border-color: transparent;
    background: #FF416C;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #FF4B2B, #FF416C);
    background: -moz-linear-gradient(left, #FF4B2B, #FF416C);
    background: -o-linear-gradient(left, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-primary {
    color: #ffffff;
    /*background-color: #2c3e50;*/
    border-color: #FF416C;
    background: #FF416C;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #FF4B2B, #FF416C);
    background: -moz-linear-gradient(left, #FF4B2B, #FF416C);
    background: -o-linear-gradient(left, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-primary:hover {
    border-color: #FF416C;
}

.btn-primary:active {
    border-color: #FF416C;
    background-color: #FF416C; 
}

.btn-primary:focus {
    border-color: #FF416C;
    background-color: #FF416C; 
}

.form-control:focus {
    border-color: rgba(255, 65, 108, 0.5);
}